* {
  margin: 0%;
  padding: 0%;
  font-family: 'DM Sans', sans-serif;
}

section {
  position: relative;
  height: 100vh;
}

section h1 {
  text-align: center;
  font-weight: 400;
  margin-top: 3vh;
  font-family: 'Playfair Display', serif !important;
  font-style: italic;
  text-decoration: underline;
}

section p {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-top: 5vh;
  margin-bottom: 7vh;
}

section p::before {
  content: "👉 ";
}

section p::after {
  content: " 👈";
}

.center {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 3;
}

.contain {
  padding: 7% 0%;
  width: 700px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  background-color: #f2f2f2;
  overflow: hidden;
  box-shadow: 0 0 20px 8px #d0d0d03a;
}

button {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  display: block;
  margin: auto;
  border: none;
  background-color: #dfdfdf94;
  padding: 2% 10%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}

body {
  background: rgba(255, 0, 89, 1);
  background: -webkit-linear-gradient(45deg, #feada6 0%, #f5efef 33%, #feada6 66%, #f5efef 100%);
  background: -moz-linear-gradient(45deg, #feada6 0%, #f5efef 33%, #feada6 66%, #f5efef 100%);
  background: -ms-linear-gradient(45deg, #feada6 0%, #f5efef 33%, #feada6 66%, #f5efef 100%);
  background: -o-linear-gradient(45deg, #feada6 0%, #f5efef 33%, #feada6 66%, #f5efef 100%);
  background: linear-gradient(45deg, #feada6 0%, #f5efef 33%, #feada6 66%, #f5efef 100%);
  background-size: 400% 400%;
  -webkit-animation: bg 10s linear infinite;
  -moz-animation: bg 10s linear infinite;
  animation: bg 10s linear infinite;
  height: 100vh;
}

@-webkit-keyframes bg {
  0% {
    background-position: 100% 0%
  }

  100% {
    background-position: 15% 100%
  }
}

@-moz-keyframes bg {
  0% {
    background-position: 100% 0%
  }

  100% {
    background-position: 15% 100%
  }
}

@keyframes bg {
  0% {
    background-position: 100% 0%
  }

  100% {
    background-position: 15% 100%
  }
}